.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
}

.left-column-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.middle-column-container {
  flex-grow: 1;
  overflow: auto;
}

.right-column-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
}