.feed-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 40px;

    border-bottom: 1px solid #ddd;
    z-index: 1;
}

.feed-switcher button {
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #999;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.feed-switcher button.active {
    color: #0077ff;
    border-bottom: 2px solid #0077ff;
}
