.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    width: 200px;
    background-color: #f0f0f0;
    height: 100vh;
}

.left-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-column-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
}

.left-column-button:hover {
    background-color: #ccc;
}


.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding: 15px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #9dc3dc;
    color: #333;
    cursor: pointer;
}

.user-info:hover {
    background-color: #ccc;
}

.user-info p {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.user-info p:last-child {
    margin-bottom: 0;
}
/*.left-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      width: 250px;
      background-color: #ffffff;
      height: 100vh;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.left-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-column-button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #ffffff;
    color: #333;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
}

.left-column-button:hover {
    background-color: #f0f0f0;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.user-info:hover {
    background-color: #f0f0f0;
}

.user-info p {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.user-info p:last-child {
    margin-bottom: 0;
}*/