.right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    width: 230px;
    background-color: #f0f0f0;
    height: 100vh;
}
.right-column-content {
    text-align: center;
}