.App123 {
    flex: 1 1 auto;
    position: relative;
}

.information{
    height: calc(100% - 30%);
    overflow-y: auto;
}

.App123-content{
    text-align: center;
}

.information {
    position: static;
    margin: 30%;
    width: 40%;
    top: -50%;
    height: 30%;

}






.UserPage{
    position: absolute;
    /*width: 17%;
    left: 0px
    background: #f0f0f0;
     */
    height: 100%;
    top: 0px;

}


/*p{*/
/*    position: absolute;*/
/*    width: 410px;*/
/*    height: 50px;*/
/*    left: -30%;*/
/*    top: 0%;*/

/*    font-family: 'Inter';*/
/*    font-style: normal;*/
/*    font-weight: 250;*/
/*    font-size: 30px;*/
/*    line-height: 48px;*/

/*    color: #000000;*/

/*}*/

.MyPage{

    position: absolute;
    width: 120px;
    height: 40px;
    left: 55px;
    top: 18%;

    background: #D9D9D9;
    border-radius: 34px;
}

.MyFans{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 55px;
    top: 29%;

    background: #D9D9D9;
    border-radius: 34px;
}

.MyFollowing{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 55px;
    top: 40%;

    background: #D9D9D9;
    border-radius: 34px;
}

.MyBlog{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 55px;
    top: 51%;

    background: #D9D9D9;
    border-radius: 34px;
}

.MyAlbum{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 55px;
    top: 62%;

    background: #D9D9D9;
    border-radius: 34px;
}


.User{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 100px;

    border-bottom: 1px solid #ddd;
    z-index: 1;
}

.Back{
    position: absolute;
    width: 80px;
    height: 40px;
    left: 22%;
    top: 10%;

    background: #D9D9D9;
}

.username{
    position: absolute;
    width: 270px;
    height: 80px;
    left: 40%;
    top: 5%;

    background: #D9D9D9;
    border-radius: 44px;
}

.Image{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 12%;
    top: 10%;

    background: #11C8F0;
    border-radius:50%;
}

.following{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 65%;
    top: 10%;

    background: #D9D9D9;
    border-radius: 50px;
}

.information{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 50px;
}

.information-content {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
}


p8{
    position: absolute;
    width: 70px;
    height: 50px;
    left: 39%;
    top: -17%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109px;

    color: #000000;
}

p20{
    position: absolute;
    width: 70px;
    height: 50px;
    left: 34%;
    top: 40%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109px;

    color: #000000;
}

p21{
    position: absolute;
    width: 70px;
    height: 50px;
    left: 33.4%;
    top: 50%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109px;

    color: #000000;
}

p22{
    position: absolute;
    width: 70px;
    height: 50px;
    left: 30.7%;
    top: 20%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109px;

    color: #000000;
}

p23{
    position: absolute;
    width: 70px;
    height: 50px;
    left: 30.7%;
    top: 30%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109px;

    color: #000000;
}


