.Right-column {
        position: absolute;
        width: 17%;
        height: 100%;
        left: 83%;
        top: 0px;

        background: #f0f0f0;
}
.Right-column-content {
    text-align: center;
}