.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}







.UserPage{
    position: absolute;
    width: 17%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: #f0f0f0;
}

p{
    position: absolute;
    width: 410px;
    height: 50px;
    left: -30%;
    top: 0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 250;
    font-size: 30px;
    line-height: 48px;

    color: #000000;

}

.MyPage{

    position: absolute;
    width: 120px;
    height: 40px;
    left: 55px;
    top: 18%;

    background: #D9D9D9;
    border-radius: 34px;
}

.MyFans{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 55px;
    top: 29%;

    background: #D9D9D9;
    border-radius: 34px;
}

.MyFollowing{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 55px;
    top: 40%;

    background: #D9D9D9;
    border-radius: 34px;
}

.MyBlog{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 55px;
    top: 51%;

    background: #D9D9D9;
    border-radius: 34px;
}

.MyAlbum{
    position: absolute;
    width: 120px;
    height: 40px;
    left: 55px;
    top: 62%;

    background: #D9D9D9;
    border-radius: 34px;
}

.User{
    position: absolute;
    width: 17%;
    height: 30%;
    left: 17%;
    top: 0px;

    background-color: white;
}

.Back{
    position: absolute;
    width: 80px;
    height: 40px;
    left: 16%;
    top: 10%;

    background: #D9D9D9;
}

.username{
    position: absolute;
    width: 300px;
    height: 80px;
    left: 100%;
    top: 5%;

    background: #D9D9D9;
    border-radius: 44px;
}

.Image{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 12%;
    top: 10%;

    background: #11C8F0;
    border-radius:50%;
}

p8{
    position: absolute;
    width: 70px;
    height: 50px;
    left: 39%;
    top: -17%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109px;

    color: #000000;
}

p20{
    position: absolute;
    width: 70px;
    height: 50px;
    left: 34%;
    top: 30%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109px;

    color: #000000;
}

p21{
    position: absolute;
    width: 70px;
    height: 50px;
    left: 33.4%;
    top: 40%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109px;

    color: #000000;
}

p22{
    position: absolute;
    width: 70px;
    height: 50px;
    left: 29.7%;
    top: 20%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109px;

    color: #000000;
}